/* Comentário */ 
body {
    background-image: linear-gradient(90deg, rgb(93, 72, 143), rgb(28, 24, 46))
}

/*h1, p, h2, h3 {
    color: rgb(232, 232, 232)
}*/

h1{ color: azure;}

div{
	color: white;
	border: 1px solid rgb(255, 255, 255);
	text-align: center;
    display: inline-block;
}

#d1:hover{
    background-color: blueviolet;
}

#d2:hover{
    background-color: rgb(226, 214, 43);
}

div > p {
    display: none
}

div:hover > p {
    display: inline-block
}

#a1{
    color: red
}

#a1:visited{
    color: white
}

#a1:active{
    color: rgb(251, 255, 0)
}

#a1::after{
    color: rgb(0, 255, 30);
    content: " link";
}

.quadrado{
    width: 150px;
    height: 150px;
    background-image: url(oculos-escuros.png);
    background-size: 30px
}


table{
	/*border: 1px solid black;*/
	border-collapse: collapse; /*separate*/
    width: 400px;
}

td{
	border: 1px solid black;
	padding: 16px;
}

/*body{
    background-image: url(imagens/cachorro.png);
    background-repeat: round;
}*/